<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.GuruDao">

    <insert id="insert" parameterType="com.baizhi.entity.Guru">
        insert into t_guru values (#{id},#{name},#{headPic},#{sex},#{status})
    </insert>

    <select id="queryOne" resultType="com.baizhi.entity.Guru" parameterType="String">
        select id,name,headPic,sex,status from t_guru where id=#{id}
    </select>

    <delete id="delete" parameterType="String">
        delete from t_guru where id=#{id}
    </delete>

    <update id="update" parameterType="com.baizhi.entity.Guru">
        update t_guru set name=#{name},headPic=#{headPic},sex=#{sex},status=#{status} where id=#{id}
    </update>

    <select id="queryByPage" resultType="com.baizhi.entity.Guru">
        select id,name,headPic,sex,status from t_guru limit #{start},#{rows}
    </select>

    <select id="queryTotals" resultType="long">
       select count(id) from t_guru
    </select>

    <delete id="deleteAll" parameterType="String">
        delete from t_guru where id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
              #{id}
            </foreach>

    </delete>

</mapper>
