<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserDao">
    <insert id="insert" parameterType="com.baizhi.entity.User">
        insert into t_user values (#{id},#{phoneNum},#{username},#{password},#{salt},#{province},#{city},#{nickName},#{gender},#{sign},#{headPic},#{status},#{recordDate})
    </insert>

    <select id="queryOneByName" resultType="com.baizhi.entity.User" parameterType="com.baizhi.entity.User">
        select id,phoneNum,username,password,salt from t_user where phoneNum=#{phoneNum}
    </select>

    <update id="update" parameterType="com.baizhi.entity.User">
        update t_user set phoneNum=#{phoneNum},password=#{password} where id=#{id}
    </update>

</mapper>
